*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    position: absolute;

}

.box{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 50px;
    box-shadow: 2px 2px 12px;
    justify-content: center;
    align-items: center;
    
}

.box .sekil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/308/565/212/maple-leaves-autumn-tree-wallpaper-thumb.jpg);
    border: 5px solid grey;
    }

.passiv .box{
    opacity: 0;
    background-color: orange;
}
.passiv .box:hover{
    opacity: 1;
}


.passiv .box .yazi .xett{
    border-bottom: 1px solid white;
 }

.box .yazi h1{
    text-align: center;
    padding: 9px;
}

.box .yazi h2{
    text-align: center;
    padding: 7px;
}

.box .yazi p{
    text-align: center;
}

.box .yazi .xett{
   border-bottom: 1px solid orange;
}








